VITE_EMAIL=sahadusmanputtamanna@gmail.com
VITE_WHATSAPP=919061354069
VITE_INSTAGRAM=https://www.instagram.com/usmanputtamanna/
VITE_PINTEREST=https://in.pinterest.com/usmanputtamanna/_pins/

# EmailJS Configuration (Set up at emailjs.com)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
